/* applied background color and set font family */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(191, 208, 214);
   
}

/* styling applied to the header section */
.mainheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
    margin: 0.5%;
    
}

/* styling applied to about me section */
.aboutme {
    width: 80%;
    height: 20%;
}

/* styling applied to the p element in the about me section */
p {
    display: flex; 
    font-size: 120%;
    padding: 2%;
    margin: 2%;
    flex: 0 2;
    justify-content: space-evenly;
}

h1 {
    font-size: 54px;
    margin-top: 2px;
    margin-left: 0
}

h2 {
    margin-left: 6px;
}

h3 {
    width: 90%;
    text-align: center;
    padding: 4%;
    margin: 1%;
}

/* styling targeting the list elements within ul which are within navigatio element */
nav ul li {
    list-style: none;
    display: inline-flex;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 1%;
    font-size: 25px;
    border: 1px solid rgb(33, 48, 44);
    background-color: rgb(10, 10, 10);
    border-radius: 12px;
    width: fit-content;
    justify-content: space-evenly;
}

/* removes underline from links and adds some styling */
.contactinfo, footer a, nav li a {
    text-decoration: none;
    background-color: black;
    color: white;
}

/* styling targeting the list elements within ul which are within footer */
footer ul li {
    list-style: none;
    display: inline-flex;
    padding: 12px;
    margin-right: 20px;
    margin-bottom: 6px;
    font-size: 25px;
    border: 1px solid rgb(33, 48, 44);
    border-radius: 12px;
    color: black;
}


/* box shadow styling applied to images with class widget */
.widget {
    -moz-box-shadow: inset 0 0 10px #777777;
    -webkit-box-shadow: inset 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;    
    background-color: rgba(0, 255, 255, 0.473);
    border: 3px solid rgba(0, 255, 255, 0.411);
    border-radius: 19px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30%;
}

/* styling applied to most images */
img {
    width: 50%;
    height: 30%;
    padding: 2px;
    margin: 10px;
    border: 3px solid rgba(0, 255, 255, 0.411);
    border-radius: 19px;
}

/* styling applied only to profile image */
.profile {
    width: 25%;
    height: 11%;
    margin-left: 5%;   
}

/* increasing the size of the main image under samples of work */
.passgen {
    width: 72%;
    height: 48%;
}

/* elements will enlarge a bit when the user overs over them */
.widget:hover, .contactinfo:hover, nav ul li:hover {
    transform: scale(1.05, 1.09);
} 

/* allows the elements within the body to stack once the viewport is decreased */
@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
}